<?xml version="1.0" encoding="utf-8" ?>
<!--移动该日志配置到主目录下 修改属性以始终复制的方式-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="infoAppender" />
      <appender-ref ref="debugAppender" />
      <appender-ref ref="ColoredConsoleFatalAppender" />
    </root>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="Logs\err.log" />
      <PreserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Composite"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="Logs\info.log" />
      <PreserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Composite"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="Logs\debug.log" />
      <PreserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Composite"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="Logs\perf.log" />
      <PreserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Composite"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="100MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleFatalAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>